* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: gotham-bold;
    src: url(../font/gotham-bold.otf);
}

@font-face {
    font-family: gotham-black;
    src: url(../font/gotham-black.otf);
}

@font-face {
    font-family: gotham-regular;
    src: url(../font/gotham-regular.otf);
}

.gridContenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.encabezado {
    grid-area: header;
}

.contenido {
    grid-area: main;
    background-color: rgb(235, 235, 235);
}

.pie {
    grid-area: footer;
}


/*----- HEADER----- */
header {
    width: 100%;
    background-color: #c9c5cc;
    height: 100%;
}

header img {
    width: 280px;
    height: 90px;
}

.container-fluid {
    background-color: #c9c5cc;
}

.navbar {
    padding: 0;
}

.collapse.navbar-collapse .nav-link.active {
    font-size: small;
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    transition: 1s ease-out;
}

.collapse.navbar-collapse .nav-link.active:hover {
    color: #893aaa;
}

/*----- MAIN INDEX----- */

.hero {
    width: 100%;
    height: 470px;
    background: rgb(137, 58, 170);
    background: linear-gradient(66deg, rgba(137, 58, 170, 1) 45%, rgba(91, 7, 119, 1) 56%);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hero div {
    font-family: gotham-black, sans-serif;
    padding: 10px;
    margin: 20px;

}

.hero div h1 {
    color: #ffffff;
    font-size: 45px;
    margin-left: 15px;

}

.hero div h2 {
    color: rgb(207, 207, 207);
    font-size: 25px;
    margin-left: 15px;
}

.hero .imgHero img{
    width: 430px;
    height: 380px;
    transition: .5s ease-in;
}

.hero .imgHero img:hover {
    transform: scale(1.2);
}

.gridContainerGaleria {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 120px 120px;
    gap: 15px;
    padding: 5px;
    margin: 10px;
}

.gridContainerGaleria div img {
    height: 75%;
    width: 80%;
    padding: 5px;

}

.gridContainerGaleria div {
    position: relative;
    text-align: center;
}

.gridContainerGaleria div h3 {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    width: 100%;
    background-color: #e7d8f0;
}

.gridItem {
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    border: 2px solid black;
}

.especialidades {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.especialidades .asociateContenedor h2 {
    width: 100%;
    color: black;
    font-size: 35px;
    font-family: gotham-black, sans-serif;
    text-align: left;
    margin-bottom: 35px;
}

.especialidades .asociateContenedor span {
    color: #893aaa;
}

.especialidades .asociateContenedor p {
    font-size: 20px;
    font-family: gotham-bold, sans-serif;
    margin-bottom: 40px;
}

.especialidades .asociateContenedor a {
    width: 30%;
    color: black;
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    text-decoration: none;
    background-color: #c9c5cc;
    padding: 10px;
}

.beneficios {
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    background-image: url(../img/groovepaper.png)
}

.beneficios .beneficiosItems {
    width: 100%;
}

.beneficios .beneficiosItems h2 {
    font-size: 35px;
    font-family: gotham-black, sans-serif;
    color: #893aaa;
    text-align: center;
    padding: 20px;
}

.beneficios .beneficiosItems ul li {
    font-size: medium;
    font-family: gotham-bold, sans-serif;
    font-weight: 200;
    padding: 10px;
}

.beneficios .beneficiosImg img {
    width: 450px;
    height: 400px;
}

.conocenos {
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 30px;
}
.conocenos .conocenosHistoria {
    width: 100%;
}
.conocenos .conocenosHistoria h2 {
    font-size: 35px;
    font-family: gotham-black, sans-serif;
    color: #893aaa;
    text-align: center;
    padding: 10px;
}

.conocenos .conocenosHistoria h3 {
    font-family: gotham-black, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #893aaa;
    padding: 15px;
}

.conocenos .conocenosHistoria p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.conocenos .conocenosImg img{
    width: 300px;
    height: 300px;
    padding: 5px;
}

/*-- MAIN ASOCIATE-- */
.heroAsociate {
    width: 100%;
    height: 400px;
    background: rgb(137, 58, 170);
    background: linear-gradient(66deg, rgba(137, 58, 170, 1) 45%, rgba(91, 7, 119, 1) 56%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}

.heroAsociate h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 45px;
}

.heroAsociate h2 {
    font-family: gotham-bold, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 25px;
}

.heroAsociate p {
    font-family: gotham-bold, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 17px;
}

.heroAsociate img {
    width: 330px;
    height: 350px;
}

.formulario {
    width: 900px;
    padding: 10px;
    background-color: #c9c5cc;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: gotham-bold, sans-serif;
    color: black;
    box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
    -webkit-box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
    -moz-box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
}

.formulario h3 {
    font-family: gotham-black, sans-serif;
    font-size: 20px;
    color: #893aaa;
    text-align: center;
    margin-bottom: 20px;
}

.formulario h4 {
    font-family: gotham-black, sans-serif;
    font-size: 17px;
}

.formulario label {
    font-size: 15px;
}

.item {
    width: 100%;
    background-color: #c9c5cc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #893aaa;
    font-family: gotham-bold, sans-serif;
    font-size: 18px;
    outline: none;
}

.item:focus{
    border: 2px solid #790fa7;
}

.boton {
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boton:hover {
    color: #790fa7;
}

.boton span {
    position: absolute;
    background-color: #893aaa;
    transition: 1s;
}

.boton span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

.boton span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

.boton span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.boton span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.boton:hover span:nth-child(1) {
    left: 0;
}

.boton:hover span:nth-child(2) {
    right: 0;
}

.boton:hover span:nth-child(3) {
    bottom: 0;
}

.boton:hover span:nth-child(4) {
    top: 0;
}

/* --MAIN SERVICIOS-- */
.heroServicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(137, 58, 170);
    background: linear-gradient(66deg, rgba(137, 58, 170, 1) 45%, rgba(91, 7, 119, 1) 56%);
}

.heroServicios .encabezadoServicios h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 45px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.heroServicios .encabezadoServicios h2 {
    font-family: gotham-black, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 25px;
    padding-left: 120px;
}

.heroServicios .imagenServicios img {
    width: 400px;
    height: 400px;
}

.especialidadesMedicos h2 {
    font-family: gotham-black, sans-serif;
    font-size: 40px;
    color: #893aaa;
    background-color: #c9c5cc;
    text-align: center;
    margin-top: 10px;
}

.gridContainerAsociateGaleria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 150px 150px 150px 150px;
    align-content: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin: 10px;
}

.gridContainerAsociateGaleria div img {
    height: 75%;
    width: 50%;
    padding: 5px;
    transition: all 500ms ease-out;
}

.gridContainerAsociateGaleria div {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.gridContainerAsociateGaleria div .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(91, 7, 119, 0.75);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.gridContainerAsociateGaleria div:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.gridContainerAsociateGaleria div:hover>img {
    transform: scale(1.1);
}

.gridContainerAsociateGaleria div:hover>.capa h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}

.gridContainerAsociateGaleria div .capa h4 {
    color: white;
    font-family: gotham-black, sans-serif;
    transition: all 500ms ease-out;
    margin-top: 20px;
}

.gridContainerAsociateGaleria div .capa p {
    color: white;
    font-size: 15px;
    font-family: gotham-bold, sans-serif;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

.gridContainerAsociateGaleria div h3 {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    width: 100%;
    height: 17px;
    background: rgba(212, 180, 226, 0.61);
}

.gridItemAsociate {
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    border: 2px solid black;
}

.ventajasTurnos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 190px;
}

.ventajasTurnos h2 {
    font-family: gotham-black, sans-serif;
    font-size: 30px;
    color: #893aaa;
    text-align: center;
    padding-bottom: 5px;
}

.ventajasTurnos p {
    font-family: gotham-bold, sans-serif;
    font-size: 13px;
    text-align: center;
}

.ventajasTurnos .ventajas {
    width: 100%;
    margin: 15px;
    padding: 8px;
    border: 1px solid black;
}

.ventajasTurnos .turnos {
    width: 100%;
    margin: 15px;
    padding: 8px;
    border: 1px solid black;
}

.ventajasTurnos .turnos h3 {
    font-family: gotham-black, sans-serif;
    text-align: center;
    padding-bottom: 5px;
}

.ventajasTurnos .turnos a {
    font-family: gotham-black, sans-serif;
    color: #893aaa;
    text-decoration: none;
}

/* -----QUIENES SOMOS----- */
.heroQuienesSomos .encabezadoQuienesSomos {
    background: rgb(137, 58, 170);
    background: linear-gradient(66deg, rgba(137, 58, 170, 1) 45%, rgba(91, 7, 119, 1) 56%);
    height: 50px;
}

.heroQuienesSomos .encabezadoQuienesSomos h1 {
    font-family: gotham-black, sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.empresaFamiliar {
    border: 2px solid #893aaa;
    background-color: #c9c5cc;
    margin-top: 20px;
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.mision {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mision .misionDiv {
    width: 700px;
    margin-right: 50px;
}

.mision .misionDiv h2 {
    font-family: gotham-black, sans-serif;
    font-size: 35px;
    color: #893aaa;
}

.mision .misionDiv p {
    font-family: gotham-bold, sans-serif;
}

.mision .misionImg img {
    width: 250px;
    height: 300px;
}

.vision {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.vision .visionDiv {
    width: 700px;
    margin-right: 50px;
}

.vision .visionDiv h2 {
    font-family: gotham-black, sans-serif;
    font-size: 35px;
    color: #893aaa;
}

.vision .visionDiv p {
    font-family: gotham-bold, sans-serif;
}

.vision .visionImg img {
    width: 350px;
    height: 400px;
    padding-right: 30px;
}

.historia {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.historia .nuestraHistoria {
    width: 700px;
    margin-right: 50px;
}

.historia .nuestraHistoria h2 {
    font-family: gotham-black, sans-serif;
    font-size: 35px;
    color: #893aaa;
}

.historia .nuestraHistoria p {
    font-family: gotham-bold, sans-serif;
}

.historia .nuestraHistoriaImg img {
    width: 450px;
    height: 330px;
}

/* --MAIN CONTACTOS-- */
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.heroContacto .heroTitulo {
    background: rgb(137, 58, 170);
    background: linear-gradient(66deg, rgba(137, 58, 170, 1) 45%, rgba(91, 7, 119, 1) 56%);
    height: 50px;
}

.heroContacto .heroTitulo h1 {
    font-family: gotham-black, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.contacto h3 {
    font-family: gotham-black, sans-serif;
    font-size: 17px;
}

.mapaContacto {
    width: 500px;
    padding-right: 10px;
}

.mapaContacto h1 {
    font-family: gotham-black, sans-serif;
    font-size: 30px;
    color: #893aaa;
}

.mapaContacto p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
}

.numeros ul li {
    width: 90px;
    list-style: none;
    text-align: center;
    background-color: #c9c5cc;
    color: black;
    border-radius: 4px;
}

.formularioContacto {
    width: 500px;
    padding: 30px;
    background-color: #c9c5cc;
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    color: black;
    box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
    -webkit-box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
    -moz-box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
}

.control {
    width: 100%;
    background-color: #c9c5cc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #893aaa;
}

.formularioContacto .boton {
    width: 100%;
    background-color: white;
    color: black;
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin: 12px 0;
}

/*----- FOOTER-----*/

.footerCaja {
    height: 100px;
    font-family: gotham-bold, sans-serif;
    font-size: 16px;
    background-color: #c9c5cc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footerH {
    order: 2;
    text-align: center;
}

.footerCaja h2,h3 {
    font-size: 16px;
}

.footerA {
    order: 1;

}

.footerA a {
    text-decoration: none;
    color: black;
}

.footerRedes {
    order: 3;
    text-align: center;
}

footer img {
    width: 70px;
    height: 70px;
}

footer a img {
    width: 50px;
    height: 50px;
}

/*-- INDEX---- MEDIA QUERIE-----RESPONSIVE-- */
@media screen and (max-width:1024px) {
.gridContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
}
.hero {
    width: 100%;
    height: 400px;
} 

.hero div h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 35px;
}

.hero div h2 {
    font-family: gotham-black, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 25px;
}

.hero .imgHero img {
    height: 320px;
    width: 300px;
}
.hero .imgHero img:hover {
    transform: none;
}
.especialidades {
    height: 300px;
}

.especialidades .asociateContenedor {
    height: 300px;
}

.especialidades .asociateContenedor h2 {
    width: 80%;
    font-size: 25px;
    margin-bottom: 10px;
}
.especialidades .asociateContenedor p{
    font-size: 18px;
    margin-bottom: 10px;
}
.boton{
    height: 45px;
    padding: 10px;
    margin: 5px;
}
.especialidades .asociateContenedor a{
    height: 30px;
    font-size: 12px;
    padding-top: 5px;
}
.gridContainerGaleria {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: 110px 110px;
    gap: 10px;
}

.gridContainerGaleria div img {
    height: 70%;
    width: 75%;
    padding: 5px;
}
.gridContainerGaleria div h3 {
    font-size: 10px;
}
.beneficios {
    height: 350px;
}

.beneficios .beneficiosItems h2 {
    font-size: 25px;
}

.beneficios .beneficiosItems ul li {
    font-size: 18px;
    padding: 5px;
}

.beneficios .beneficiosImg img {
    width: 290px;
    height: 300px;
}
.conocenos {
    height: 350px;
}

.conocenos .conocenosHistoria h2 {
    font-size: 25px;
}

.conocenos .conocenosHistoria p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.footerCaja {
    font-size: 5px;
}

.conocenos .conocenosImg {
    width: 290px;
    height: 300px;
}

.conocenos .conocenosImg img {
    width: 290px;
    height: 300px;
    padding: 5px;
}
}

@media screen and (max-width:768px) {
    header img {
        width: 250px;
        height: 80px;
    }
.gridContenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto 100px;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}
.hero {
    width: 100%;
    height: 300px;
    flex-direction: column;
} 

.hero div h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
}

.hero div h2 {
    font-family: gotham-black, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 20px;
    text-align: center;
}
.imgHero{
    display: none;
}
.gridContainerGaleria {
    display: none;
}
.especialidades {
    height: 250px;
    justify-content: center;
    align-items: center;
}

.especialidades .asociateContenedor {
    height: 250px;
    margin-top: 10px;
    padding: 15px;
}

.especialidades .asociateContenedor h2 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
}
.especialidades .asociateContenedor p{
    font-size: 15px;
    margin-bottom: 10px;
}
.boton{
    height: 40px;
    padding: 10px;
    margin: 5px;
}
.especialidades .asociateContenedor a{
    height: 25px;
    font-size: 12px;
    padding: 5px 5px 5px;
}
.beneficios {
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.beneficios .beneficiosItems h2 {
    font-size: 20px;
}

.beneficios .beneficiosItems ul li {
    font-size: 15px;
    padding: 5px;
}

.beneficios .beneficiosImg img {
    width: 280px;
    height: 290px;
}
.conocenos {
    height: 500px;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.conocenos .conocenosHistoria h2 {
    font-size: 20px;
}

.conocenos .conocenosHistoria h3{
    font-size: 18px;
}

.conocenos .conocenosHistoria p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.conocenos .conocenosImg {
    width: 290px;
    height: 300px;
}

.conocenos .conocenosImg img {
    width: 280px;
    height: 280px;
    padding: 5px;
}

.footerCaja h2,h3 {
    font-size: 15px;
}

.footerCaja {
    width: 100%;
    height: 110px;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 25px;
    height: 25px;
}

footer a img {
    width: 20px;
    height: 20px;
}
}

@media screen and (max-width:480px){
.gridContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto 100px;
    }
header img {
        width: 210px;
        height: 60px;
    }
.hero {
    width: 100%;
    height: 250px;
} 

.hero div h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
}

.hero div h2 {
    font-size: 20px;
}

.especialidades {
    height: 200px;
}

.especialidades .asociateContenedor {
    height: 200px;
    margin-top: 10px;
    padding: 15px;
}

.especialidades .asociateContenedor h2 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
}
.especialidades .asociateContenedor p{
    font-size: 12px;
    margin-bottom: 10px;
}
.boton{
    height: 30px;
    padding: 2px;
    margin: 5px;
}
.especialidades .asociateContenedor a{
    height: 28px;
    font-size: 10px;
}
.beneficios {
    height: 500px;
    margin: 5px;
    justify-content: center;
}

.beneficios .beneficiosItems h2 {
    font-size: 20px;
}

.beneficios .beneficiosItems ul li {
    font-size: 12px;
    padding: 5px;
}

.beneficios .beneficiosImg img {
    width: 260px;
    height: 260px;
}
.conocenos {
    width: 100%;
    height: 500px;
}

.conocenos .conocenosHistoria h2 {
    font-size: 20px;
}

.conocenos .conocenosHistoria h3{
    font-size: 15px;
}

.conocenos .conocenosHistoria p {
    font-size: 12px;
    margin-bottom: 5px;
}

.conocenos .conocenosImg {
    width: 260px;
    height: 260px;
}

.conocenos .conocenosImg img {
    width: 260px;
    height: 260px;
    padding: 5px;
}

.footerCaja h2,h3 {
    font-size: 13px;
}

.footerCaja {
    width: 100%;
    height: 110px;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 20px;
    height: 20px;
}

footer a img {
    width: 20px;
    height: 20px;
}
}


/* ASOCIATE ---- MEDIA QUERIE--- RESPONSIVE */
@media screen and (max-width:1024px) {
    .heroAsociate {
        height: 400px;
    }
    .heroAsociate h1 {
        font-size: 35px;
    }
    
    .heroAsociate h2 {
        font-size: 25px;
    }
    
    .heroAsociate p {
        font-size: 15px;
    }
    
    .heroAsociate img {
        width: 290px;
        height: 280px;
    } 
    .formulario {
        width: 800px;
        font-size: 15px;
    }
    .formulario h3 {
        font-size: 20px;
    }

    .formulario h4 {
        font-size: 18px;
    }

    .formulario label {
        font-size: 15px;
    }
    .boton{
        font-size: 15px;
    }
}
@media screen and (max-width:768px) {
    .heroAsociate {
        height: 300px;
        padding-left: 0;
    }
    .heroAsociate h1 {
        padding-top: 10px;
        font-size: 30px;
        text-align: center;
    }
    
    .heroAsociate h2 {
        font-size: 20px;
        text-align: center;
    }
    
    .heroAsociate p {
        font-size: 14px;
        text-align: center;
    }
    
    .heroAsociate img {
    display: none;
    } 
    .formulario {
        width: 600px;
        font-size: 13px;
    }
    .formulario h3 {
        font-size: 18px;
    }

    .formulario h4 {
        font-size: 15px;
    }

    .formulario label {
        font-size: 15px;
    }
    .item{
        height: 35px;
        font-size: 14px;
    }
    .boton{
        font-size: 13px;
    }
}
@media screen and (max-width:480px){
    .heroAsociate {
        height: 250px;
    }
    .heroAsociate h1 {
        font-size: 25px;
    }
    
    .heroAsociate h2 {
        font-size: 20px;
    }
    
    .heroAsociate p {
        font-size: 10px;
    }

    .formulario {
        width: 350px;
        font-size: 12px;
    }
    .formulario h3 {
        font-size: 15px;
    }

    .formulario h4 {
        font-size: 13px;
    }

    .formulario label {
        font-size: 13px;
    }
    .item{
        height: 30px;
        font-size: 12px;
    }
    .boton{
        font-size: 12px;
    }
}