.footerCaja{
    height: 100px;
    font-family: gotham-bold, sans-serif;
    font-size: 16px;
    background-color: #c9c5cc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .footerH{
        order: 2;
        text-align: center;
        h2{
            font-size: 16px;
        }
    }
    .footerA{
        order: 1;
        a{
            text-decoration: none;
            color: black;
            img{
                width: 70px;
                height: 70px;
            }
        }
    }
    .footerRedes{
        order: 3;
        text-align: center;
        h3{
            font-size: 16px;
        }
        a{
            img{
                width: 50px;
                height: 50px;
            };
        }
        a{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}