.footerCaja{
    height: 100px;
    font-family: gotham-bold, sans-serif;
    font-size: nth($font-size,8);
    background-color: $color-terciario;
    @include flex (flex, space-around, center);
    flex-direction: row;
    .footerH{
        order: 2;
        text-align: center;
        h2{
            font-size: nth($font-size,8);
        }
    }
    .footerA{
        order: 1;
        a{
            text-decoration: none;
            color: $color-negro;
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
    .footerRedes{
        order: 3;
        text-align: center;
        h3{
            font-size: nth($font-size,8);
        }
        a{
            img{
                width: 40px;
                height: 40px;
            };
        }
        a{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}