.encabezado{
    width: 100%;
    background-color: $color-terciario;
    height: 100%;
    .navbar{
        padding: 0;
        .container-fluid{
            background-color: $color-terciario;
            .navbar-brand{
                img{
                    width: 280px;
                    height: 90px;
                }
            }
            .collapse .nav-link.active{
                font-size: small;
                font-family: gotham-regular, sans-serif;
                font-weight: 300;
                transition: 1s ease;
                &:hover {
                    color: $color-principal;
                    }
                }
        }
    }
}
