/*-- INDEX---- MEDIA QUERIE-----RESPONSIVE-- */
@media screen and (max-width:1024px) {
    .gridContenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer"
        ;
    }
    .hero {
        width: 100%;
        height: 400px;
    } 
    
    .hero div h1 {
        font-family: gotham-black, sans-serif;
        color: #ffffff;
        font-size: 35px;
    }
    
    .hero div h2 {
        font-family: gotham-black, sans-serif;
        color: rgb(207, 207, 207);
        font-size: 25px;
    }
    
    .hero .imgHero img {
        height: 320px;
        width: 300px;
    }
    .hero .imgHero:hover {
        transform: none;
    }
    .especialidades {
        height: 300px;
    }
    .especialidades .gridContainerGaleria {
        display: grid;
        grid-template-columns: repeat(3, 130px);
        grid-template-rows: 110px 110px;
        gap: 10px;
    }
    
    .especialidades .gridContainerGaleria .gridItem img {
        height: 70%;
        width: 75%;
        padding: 5px;
    }
    .especialidades.gridContainerGaleria .gridItem h3 {
        font-size: 10px;
    }
    .especialidades .asociateContenedor {
        height: 300px;
    }
    
    .especialidades .asociateContenedor h2 {
        width: 80%;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .especialidades .asociateContenedor p{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .botonA{
        height: 40px;
        padding: 10px;
        margin: 5px;
    }
    .especialidades .asociateContenedor a{
        height: 30px;
        font-size: 12px;
        padding-top: 5px;
    }
    
    .beneficios {
        height: 350px;
    }
    
    .beneficios .beneficiosItems h2 {
        font-size: 25px;
    }
    
    .beneficios .beneficiosItems ul li {
        font-size: 18px;
        padding: 5px;
    }
    
    .beneficios .beneficiosImg img {
        width: 290px;
        height: 300px;
    }
    .conocenos {
        height: 350px;
    }
    
    .conocenos .conocenosHistoria h2 {
        font-size: 25px;
    }
    
    .conocenos .conocenosHistoria p {
        font-family: gotham-bold, sans-serif;
        font-size: 15px;
        margin-bottom: 5px;
    } 
    .conocenos .conocenosImg {
        width: 290px;
        height: 300px;
    }
    
    .conocenos .conocenosImg img {
        width: 290px;
        height: 300px;
        padding: 5px;
    }
    .footerCaja {
        font-size: 5px;
    }
    }
    
    @media screen and (max-width:768px) {
    .encabezado .navbar .container-fluid .navbar-brand img {
            width: 250px;
            height: 80px;
        }
    .encabezado .navbar .container-fluid{
        height: auto;
    }
    .gridContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto 100px;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }
    .hero {
        width: 100%;
        height: 300px;
        flex-direction: column;
    } 
    
    .hero div h1 {
        font-family: gotham-black, sans-serif;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        padding-top: 15px;
        margin-left: 0;
    }
    
    .hero div h2 {
        font-family: gotham-black, sans-serif;
        color: rgb(207, 207, 207);
        font-size: 20px;
        text-align: center;
        margin-left: 0;
    }
    .hero .imgHero{
        display: none;
    }
    .especialidades {
        height: 250px;
        justify-content: center;
        align-items: center;
    }
    .especialidades .gridContainerGaleria {
        display: none;
    }
    .especialidades .asociateContenedor {
        height: 250px;
        margin-top: 10px;
        padding: 15px;
    }
    .especialidades .asociateContenedor h2 {
        width: 80%;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .especialidades .asociateContenedor p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .especialidades .asociateContenedor .botonA{
        height: 35px;
        margin: 5px;
    }
    .especialidades .asociateContenedor a{
        height: 25px;
        font-size: 12px;
        padding: 5px 5px 5px;
    }
    .beneficios {
        height: 500px;
        flex-direction: column;
        align-items: center;
    }
    
    .beneficios .beneficiosItems h2 {
        font-size: 20px;
    }
    
    .beneficios .beneficiosItems ul li {
        font-size: 15px;
        padding: 5px;
    }
    
    .beneficios .beneficiosImg img {
        width: 280px;
        height: 290px;
    }
    .conocenos {
        height: 500px;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .conocenos .conocenosHistoria h2 {
        font-size: 20px;
    }
    
    .conocenos .conocenosHistoria h3{
        font-size: 18px;
    }
    
    .conocenos .conocenosHistoria p {
        font-family: gotham-bold, sans-serif;
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .conocenos .conocenosImg {
        width: 290px;
        height: 300px;
    }
    
    .conocenos .conocenosImg img {
        width: 280px;
        height: 280px;
        padding: 5px;
    }
    .footerCaja {
        width: 100%;
        height: 110px;
        font-size: small;
        flex-direction: column;
        align-items: center;
    }
    .footerCaja .footerH h2 {
        font-size: 13px;
        margin: 0;
    }
    
    .footerCaja .footerA a img {
        width: 20px;
        height: 20px;
    }
    .footerCaja .footerRedes h3{
        font-size: 13px;
    }
    .footerCaja .footerRedes a img{
        width: 15px;
        height: 15px;
    }
    }
    
    @media screen and (max-width:480px){
    .gridContenedor {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px auto 100px;
        }
    .encabezado .navbar .container-fluid{
            height: auto;
        }
    .encabezado .navbar .container-fluid .navbar-brand img {
            width: 200px;
            height: 50px;
        }
    .hero {
        width: 100%;
        height: 250px;
    } 
    
    .hero div h1 {
        font-family: gotham-black, sans-serif;
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
        padding-top: 5px;
    }
    
    .hero div h2 {
        font-size: 20px;
    }
    
    .especialidades {
        height: 200px;
    }
    
    .especialidades .asociateContenedor {
        height: 200px;
        margin-top: 10px;
        padding: 15px;
    }
    
    .especialidades .asociateContenedor h2 {
        width: 80%;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .especialidades .asociateContenedor p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .botonA{
        height: 30px;
        padding: 2px;
        margin: 5px;
    }
    .especialidades .asociateContenedor a{
        height: 28px;
        font-size: 10px;
    }
    .beneficios {
        height: 500px;
        margin: 5px;
        justify-content: center;
    }
    
    .beneficios .beneficiosItems h2 {
        font-size: 20px;
    }
    
    .beneficios .beneficiosItems ul li {
        font-size: 12px;
        padding: 5px;
    }
    
    .beneficios .beneficiosImg img {
        width: 260px;
        height: 260px;
    }
    .conocenos {
        width: 100%;
        height: 500px;
    }
    
    .conocenos .conocenosHistoria h2 {
        font-size: 20px;
    }
    
    .conocenos .conocenosHistoria h3{
        font-size: 15px;
    }
    
    .conocenos .conocenosHistoria p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .conocenos .conocenosImg {
        width: 260px;
        height: 260px;
    }
    
    .conocenos .conocenosImg img {
        width: 260px;
        height: 260px;
        padding: 5px;
    }
    }
    
    
    /* ASOCIATE ---- MEDIA QUERIE--- RESPONSIVE */
    @media screen and (max-width:1024px) {
        .heroAsociate {
            height: 400px;
        }
        .heroAsociate div h1 {
            font-size: 35px;
        }
        
        .heroAsociate div h2 {
            font-size: 25px;
        }
        
        .heroAsociate div p {
            font-size: 15px;
        }
        
        .heroAsociate .asociateImg img {
            width: 290px;
            height: 280px;
        } 
        .formulario {
            width: 800px;
            font-size: 15px;
        }
        .formulario h3 {
            font-size: 20px;
        }
    
        .formulario div form h4 {
            font-size: 18px;
        }
    
        .formulario form label {
            font-size: 15px;
        }
        .formulario div form .boton{
            font-size: 15px;
        }
    }
    @media screen and (max-width:768px) {
        .heroAsociate {
            height: 300px;
            padding-left: 0;
        }
        .heroAsociate div h1 {
            padding-top: 10px;
            font-size: 30px;
            text-align: center;
        }
        
        .heroAsociate div h2 {
            font-size: 20px;
            text-align: center;
        }
        
        .heroAsociate div p {
            font-size: 14px;
            text-align: center;
        }
        
        .heroAsociate .asociateImg img {
        display: none;
        } 
        .formulario {
            width: 600px;
            font-size: 13px;
        }
        .formulario h3 {
            font-size: 18px;
        }
    
        .formulario div form h4 {
            font-size: 15px;
        }
    
        .formulario form label {
            font-size: 15px;
        }
        .formulario form .item{
            height: 35px;
            font-size: 14px;
        }
        .formulario div form .boton{
            font-size: 13px;
        }
    }
    @media screen and (max-width:480px){
        .heroAsociate {
            height: 250px;
        }
        .heroAsociate div h1 {
            font-size: 25px;
        }
        
        .heroAsociate div h2 {
            font-size: 20px;
        }
        
        .heroAsociate div p {
            font-size: 10px;
        }
    
        .formulario {
            width: 350px;
            font-size: 12px;
        }
        .formulario h3 {
            font-size: 15px;
        }
    
        .formulario div form h4 {
            font-size: 13px;
        }
    
        .formulario form label {
            font-size: 13px;
        }
        .formulario form .item{
            height: 30px;
            font-size: 12px;
        }
        .formulario div form .boton{
            font-size: 12px;
        }
    }
 /* SERVICIOS ---- MEDIA QUERIE--- RESPONSIVE */
@media screen and (max-width:1024px){
.heroServicios{
    width: 100%;
    height: 400px;
}
.heroServicios .encabezadoServicios h1{
    font-size: 35px;
}
.heroServicios .imagenServicios img{
    width: 280px;
    height: 280px;
}
.especialidadesServicios .especialidadesMedicos h2{
    font-size: 35px;
}
.especialidadesServicios .especialidadesMedicos .gridContainerAsociateGaleria{
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: 150px 150px 150px 150px 150px;
}
.ventajasTurnos{
    height: 220px;
}
}
@media screen and (max-width:768px){
    .heroServicios{
        height: 300px;
        justify-content: center;
    }
    .heroServicios .encabezadoServicios h1{
        font-size: 30px;
        text-align: center;
        padding-left: 0;
    }
    .heroServicios .encabezadoServicios h2{
        font-size: 20px;
    }
    .heroServicios .imagenServicios img{
        display: none;
    }
    .especialidadesServicios .especialidadesMedicos .gridContainerAsociateGaleria{
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 150px 150px 150px 150px 150px;
    }
    .ventajasTurnos{
        flex-direction: column;
        height: 350px;
        width: 100%;
    }
    .ventajasTurnos .ventajas{
        margin-bottom: 5px;
        margin-right: 0;
        margin-left: 0;
        padding: 8px 0px 8px 0px;
    }
    .ventajasTurnos .turnos{
        margin-bottom: 5px;
        margin-left: 0;
        padding: 8px 0px 8px 0px;
    }
}
@media screen and (max-width:480px){
    .heroServicios{
        height: 200px;
    }
    .heroServicios .encabezadoServicios h1{
        font-size: 25px;
    }
    .heroServicios .encabezadoServicios h2{
        font-size: 15px;
    }
    .especialidadesServicios .especialidadesMedicos h2{
        font-size: 20px;
    }
    .especialidadesServicios .especialidadesMedicos .gridContainerAsociateGaleria{
        display: grid;
        grid-template-columns: repeat(1, 220px);
        grid-template-rows: repeat(22, 150px);
    }
    .ventajasTurnos{
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .ventajasTurnos .ventajas h2{
        font-size: 15px;
    }
    .ventajasTurnos .ventajas p{
        font-size: 12px;
    }
    .ventajasTurnos .turnos h2{
        font-size: 15px;
    }
    .ventajasTurnos .turnos h3{
        font-size: 14px;
    }
    .ventajasTurnos .turnos p{
        font-size: 12px;
    }
}
/* QUIENES SOMOS ---- MEDIA QUERIE--- RESPONSIVE */
@media screen and (max-width:1024px){
.heroQuienesSomos .encabezadoQuienesSomos h1{
    font-size: 35px;
}
.heroQuienesSomos .encabezadoQuienesSomos p{
    font-size: 18px;
}
.mision .misionDiv h2{
    font-size: 30px;
}
.mision .misionDiv p{
    font-size: 15px;
    padding-left: 10px;
}
.mision .misionImg img{
    width: 230px;
    height: 290px;
}
.vision .visionDiv h2{
    font-size: 30px;
}
.vision .visionDiv p{
    font-size: 15px;
    padding-left: 10px;
}
.vision .visionImg img{
    width: 330px;
    height: 380px;
    margin-bottom: 10px;
}
.historia .nuestraHistoria h2{
    font-size: 30px;
}
.historia .nuestraHistoria p{
    font-size: 15px;
    padding-left: 10px;
}
.historia .nuestraHistoriaImg img{
    width: 430px;
    height: 320px;
}
}
@media screen and (max-width:768px){
    .heroQuienesSomos .encabezadoQuienesSomos h1{
        font-size: 30px;
    }
    .heroQuienesSomos .encabezadoQuienesSomos p{
        font-size: 15px;
    }
    .mision .misionDiv{
        width: 100%;
    }
    .mision .misionDiv h2{
        font-size: 25px;
    }
    .vision .visionDiv{
        width: 100%;
    }
    .vision .visionDiv h2{
        font-size: 25px;
    }
    .historia .nuestraHistoria{
        width: 100%;
    }
    .historia .nuestraHistoria h2{
        font-size: 25px;
    }
}
@media screen and (max-width:480px){
    .heroQuienesSomos .encabezadoQuienesSomos h1{
        font-size: 25px;
    }
    .heroQuienesSomos .encabezadoQuienesSomos p{
        font-size: 15px;
    }
    .mision{
        flex-direction: column;
        height: 440px;
    }
    .mision .misionDiv{
        margin-right: 0;
    }
    .mision .misionDiv h2{
        font-size: 20px;
        text-align: center;
    }
    .mision .misionDiv p{
        font-size: 12px;
    }
    .mision .misionImg img{
        width: 200px;
        height: 260px;
    }
    .vision{
        flex-direction: column;
        height: 410px;
        margin-top: 10px;
    }
    .vision .visionDiv{
        margin-left: 0;
    }
    .vision .visionDiv h2{
        font-size: 20px;
        text-align: center;
    }
    .vision .visionDiv p{
        font-size: 12px;
    }
    .vision .visionImg img{
        width: 230px;
        height: 290px;
    }
    .historia{
        flex-direction: column;
        height: 400px;
        margin-top: 10px;
    }
    .historia .nuestraHistoria{
        margin-right: 0;
    }
    .historia .nuestraHistoria h2{
        font-size: 20px;
        text-align: center;
    }
    .historia .nuestraHistoria p{
        font-size: 12px;
    }
    .historia .nuestraHistoriaImg img{
        width: 300px;
        height: 250px;
    }
}

/* CONTACTOS ---- MEDIA QUERIE--- RESPONSIVE */
@media screen and (max-width:1024px){
    .heroContacto .heroTitulo h1{
        font-size: 35px;
    }
}
@media screen and (max-width:768px){
    .heroContacto .heroTitulo h1{
        font-size: 30px;
    }
    form .formularioContacto{
        width: 400px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:480px){
    .heroContacto .heroTitulo h1{
        font-size: 25px;
    }
    .contacto{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .contacto .mapaContacto{
        width: 100%;
    }
    .contacto .mapaContacto p{
        text-align: center;
    }
    .contacto form .formularioContacto{
        width: 90%;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .contacto form .formularioContacto h3{
        font-size: 15px;
    }
}